head
    block head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name='viewport', content='width=device-width, user-scalable=no, maximum-scale=1, initial-scale=1')
    meta(name="format-detection", content="telephone=no")

    if title
        title #{title}
    else
        title Default title

    // build:js-load
    script(src='js/load.js')
    // endbuild

    // build:css
    link(rel='stylesheet' href='css/main.css')
    // endbuild