doctype html
html(lang="ru").no-js
    include head.ignore.pug

    block body
    body(class = bodyClass ? bodyClass : "")
        if layoutWrap
            div(class = layoutWrapClass ? layoutWrapClass : "")
                block content
        else
            block content
        include footer.ignore.pug