.catalog {
  background: transparent url("@{img-url-prefix}background-02.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  color: #fff;

  &__title {
	@media @media__max-480W {
	  margin-bottom: 6.666666666666667%;
	}
  }

  &__row {
	width:  81.66666666666667%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #fff;

	.clearfix();

	@media @media__max-600W {
	  display: block;
	}

	@media @media__max-480W {
	  width:  90%;
	}
  }
  &__col {
	float: left;
	width: 100%/3;
	border: 1px solid #fff;
	vertical-align: top;
	padding-top: 3.4693877551020407%;
	padding-bottom: 1.7346938775510203%;
	box-sizing: border-box;

	@media @media__max-600W {
	  width: 50%;
	}
  }
  &__ico {
	@media @media__max-480W {
	  .ico {
		width: 40px;
		height: 40px;
		line-height: 40px;
	  }
	}
  }
  &__subtitle {
	margin-top: 7.076923076923077%;
	font-weight: normal;
	margin-left: 12%;
	margin-right: 12%;
	min-height: 2.4em;

	@media @media__max-900W {
	  margin-left: 4%;
	  margin-right: 4%;
	}
  }
}