.cooperation {
  text-align: center;

  &__title {
	margin-left: 17%;
	margin-right: 17%;
	margin-bottom: 9%;
	transition: @base__transition-duration @base__transition-timing;
	transition-property: margin-bottom;

	@media @media__max-1000W {
	  margin-left: 8%;
	  margin-right: 8%;
	}

	@media @media__max-800W {
	  margin-left: 2%;
	  margin-right: 2%;
	}

	@media @media__max-600W {
	  margin-left: 0;
	  margin-right: 0;
	}

	@media @media__max-700H {
	  margin-bottom: 9%*0.7;
	}
  }
  &__row {
	display: table;
	width: 100%;

	@media @media__max-600W {
	  display: block;
	  width: auto;
	}
  }
  &__col {
	display: table-cell;
	width: 100%/3;

	@media @media__max-600W {
	  display: block;
	  width: auto;

	  & + & {
		margin-top: 14%;
	  }
	}
  }
  .solution {
	&__ico {
	  transition: @base__transition-duration @base__transition-timing;
	  transition-property: margin-bottom, padding;

	  @media @media__max-700H {
		margin-bottom: 12.105263157894736%/2;
		padding: 18px;
	  }

	  .ico--l {
		transition: @base__transition-duration @base__transition-timing;
		transition-property: width, height;

		@media @media__max-700H {
		  width: 90px;
		  height: 90px;
		  line-height: 90px;
		}
		@media @media__max-600W {
		  width: 122px !important;
		  height: 122px !important;
		  line-height: 122px !important;
		}
	  }
	}
	&__title {

	  @media @media__max-700W {
		font-size: 1.0714285714285714em;
	  }
	  @media @media__max-600W {
		min-height: 0;
	  }
	}
	&__subtitle {
	  margin-top: 12.368421052631579%/2;
	  margin-left: 5%;
	  margin-right: 5%;
	}
	&__txt {
	  margin-left: 10%;
	  margin-right: 10%;

	  @media @media__max-700H {
		margin-left: 5%;
		margin-right: 5%;
	  }
	}
  }
}