.footer {
  background-color: #463e49;
  color: #fff;
  position: relative;

  .btn {
	&:hover, .btn:focus {
	  color: #463e49;
	}
	&:active {
	  color: darken(#463e49, 10);
	}
  }
  &__row {
	display: table;
	width: 100%;

	@media @media__max-480W {
	  display: block;
	  width: auto;
	  padding-left: 25px;
	  padding-right: 25px;
	}
  }
  &__cell {
	display: table-cell;
	padding-top: 10%;
	padding-bottom: 9.166666666666666%;
	width: 100%/3;
	vertical-align: top;

	@media @media__max-480W {
	  display: block;
	  width: auto;
	  padding-left: 0;
	  padding-right: 0;
	}

	&--title {
	  padding-top: 5.5%;
	  width: 25%;

	  @media @media__max-600W {
		position: absolute;
		top: 0;
	  }


	  @media @media__max-480W {
		padding-top: 1.6%;
		padding-bottom: 0;
		position: relative;
	  }
	}
	&--contacts {
	  width: 58%;
	  padding-left: 20px;
	  padding-right: 20px;
	  font-size: 0.9285714285714285em;
	  line-height: 2.230769230769231;

	  @media @media__max-600W {
		padding-left: 0;
		padding-top: 20%;
	  }

	  @media @media__max-480W {
		padding-top:  2.8%;
		padding-bottom: 7.2%;
		font-size: 0.6428571428571428em;
	  }

	  .ico {
		color: #b98646;
		margin-bottom: 15px;

		@media @media__max-480W {
		  width: 15px;
		  height: 15px;
		  line-height: 15px;
		  margin-bottom: 10px;
		}
	  }
	}
	&--ctrls {
	  width: 17%;
	  padding-right: 60px;

	  @media @media__max-1000W {
		padding-right: 33px;
		padding-bottom: 16%;
	  }
	}
  }
}