.page-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: left;
  padding-top: 22px;
  padding-bottom: 17px;
  border-bottom: 1px solid #463e49;
  z-index: 10;
  background-color: rgba(255,255,255,.9);

  @media @media__max-480W {
	text-align: center;
	padding-top: 16px;
	padding-bottom: 10px;
	height: 18px;
	font-size: 1.357142857142857em;
	line-height: 1.1578947368421053;
  }

  &--fixed {
	position: fixed;
  }

  &__logo {
	float: left;
	position: relative;
	top: -2px;
	@media @media__max-480W {
	  float: none;

	  [data-ico="logo"] {
		width: 76px;
	  }
	}
  }
  &-nav {
	float: right;
	text-align: left;
	@media @media__max-480W {
	  position: absolute;
	  left: 0;
	  top: 100%;

	  &--active {
		background-color: #463e49;
		color: #fff;
	  }
	}
	&__item {
	  display: inline-block;

	  @media @media__max-480W {
		display: none;
		padding-bottom: 12px;
		padding-top: 12px;
		padding-left: 16px;
		padding-right: 46px;

		.page-header-nav--active & {
		  display: block;
		}

	  }

	  & + & {
		margin-left: 35px;

		@media @media__max-480W {
		  margin-left: 0;
		  border-top: 1px solid #999999;
		}
	  }
	}
	&__link {
	  text-decoration: none;

	  &:hover {
		color: #000;
	  }
	}

	&__trigger {
	  display: none;
	  cursor: pointer;
	  position: absolute;
	  top: -44px;
	  background-color: inherit;
	  padding-left: 10px;
	  left: 0;
	  padding-top: 12px;
	  height: 32px;
	  padding-right: 10px;

	  @media @media__max-480W {
		display: block;
	  }

	}
  }
}