.intro {
  background: transparent url("@{img-url-prefix}background-01.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
  text-align: center;

  @media @media__max-480W {
	background-image: url("@{img-url-prefix}background-01--Mob.jpg");
  }

  .page-section__inner {
	padding-top: 20px;
  }

  &__logo {

  }

  &__title {
	margin-top: 7.833333333333333%;
	margin-left: 10%;
	margin-right: 10%;
	transition: @base__transition-duration @base__transition-timing;
	transition-property: margin-top;

	@media @media__max-500H__min-480W {
	  margin-top: 7.833333333333333%/2;
	}

	@media @media__max-400H__min-480W {
	  margin-top: 7.833333333333333%/3;
	}

	@media @media__max-1000W {
	  margin-left: 6%;
	  margin-right: 6%;
	}

	@media @media__max-900W {
	  margin-left: 6%;
	  margin-right: 6%;
	}

	@media @media__max-600W {
	  margin-left: 2%;
	  margin-right: 2%;
	}

	@media @media__max-480W {
	  margin-left: 0;
	  margin-right: 0;
	  margin-top: 13.571428571428571%;
	}
  }

  &__subtitle {
	margin-top:  3.3333333333333335%;
	margin-left: 24%;
	margin-right: 24%;
	margin-bottom: 7.333333333333333%;
	transition: @base__transition-duration @base__transition-timing;
	transition-property: margin-bottom;

	@media @media__max-500H__min-480W {
	  margin-bottom: 7.333333333333333%/2;
	}

	@media @media__max-400H__min-480W {
	  margin-bottom: 7.333333333333333%/3;
	}

	@media @media__max-900W {
	  margin-left: 18%;
	  margin-right: 18%;
	}

	@media @media__max-700W {
	  margin-left: 10%;
	  margin-right: 10%;
	}

	@media @media__max-480W {
	  margin-left: 0;
	  margin-right: 0;
	  margin-top: 10%;
	  margin-bottom: 14.285714285714286%;
	}
  }
}