.reasons {
  &__title {
	margin-left: 14%;
	margin-right: 14%;
	text-align: center;
	margin-bottom: 5.5%;

	@media @media__max-900W {
	  margin-left: 7.5%;
	  margin-right: 7.5%;
	}
	@media @media__max-600W {
	  margin-left: 0;
	  margin-right: 0;
	}
  }
  &__row {
	.clearfix();
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;

	@media @media__max-480W {
	  width: 80%;
	}
  }

  &__col {
	float: left;
	width: 50%;
	box-sizing: border-box;
	padding-left: 20px;
	padding-right: 20px;


	@media @media__max-600W {
	  font-size: 12px;
	}
	@media @media__max-480W {
	  float: none;
	  width: auto;
	  padding: 0;
	}
  }
  .carousel {
	margin-top: 18%;
  }
}