@import "grid.ignore.less";

// Base
@img-url-prefix:			'../img/';

// Transition
@base__transition-duration: .15s;
@base__transition-timing: ease-in-out;

// Media queries

/// Media queries: width
@media__max-1000W:			~'screen and (max-width: 1000px)';
@media__max-900W:			~'screen and (max-width: 900px)';
@media__max-800W:			~'screen and (max-width: 800px)';
@media__max-700W:			~'screen and (max-width: 700px)';
@media__max-600W:			~'screen and (max-width: 600px)';
@media__max-480W:			~'screen and (max-width: 480px)';

/// Media queries: height
@media__max-400H:			~'screen and (max-height: 400px)';
@media__max-500H:			~'screen and (max-height: 500px)';
@media__max-600H:			~'screen and (max-height: 600px)';
@media__max-700H:			~'screen and (max-height: 700px)';

/// Media queries: mix
@media__max-500H__min-480W:	~'screen and (max-height: 500px) and (min-width: 480px)';
@media__max-400H__min-480W:	~'screen and (max-height: 400px) and (min-width: 480px)';


// Layout
@page__background-color:		#fff;
@page__min-width:				320px;
@page__max-width:				1240px;
@page__padding-left:			20px;
@page__padding-right:			20px;
@page__max-480W__padding-left:	10px;
@page__max-480W__padding-right: 10px;

// Type Base
@base__font-family:			'Roboto', serif;
@base__font-size:			0.875em;
@base__line-height:			1.2142857142857142;
@base__color:				#463e49;
@base__cursor:				default;

// Type Second
@second__font-family:		'Roboto Slab', serif;


// Headings

/// Headings: h1
@h1__font-size:				3em;
@h1__max-900W__font-size:	2.2857142857142856em;
@h1__max-700W__font-size:	1.857142857142857em;
@h1__max-480W__font-size:	1.5em;

@h1__line-height:			1.1904761904761905;

@h1__font-weight:			700;
@h1__margin-top:			0;
@h1__margin-bottom:			0.55em;

/// Headings: h2
@h2__font-size:				2.5em;
@h2__max-700W__font-size:	2em;
@h2__max-600W__font-size:	1.7142857142857142em;
@h2__max-480W__font-size:	1.2857142857142856em;

@h2__line-height:			1.2;
@h2__max-480W__line-height: 1.2352941176470589;

@h2__font-weight:			700;
@h2__margin-top:			1.2666666666666666em;
@h2__margin-bottom:			0.8em;

/// Headings: h3
@h3__font-size:				1.5em;
@h3__max-900W__font-size:	1.2857142857142856em;
@h3__max-700W__font-size:	1.1428571428571428em;
@h3__max-480W__font-size:	0.8571428571428571em;

@h3__line-height:			1.1904761904761905;
@h3__max-480W__line-height:	1.1666666666666665;

@h3__font-weight:			700;
@h3__margin-top:			1.1em;
@h3__margin-bottom:			0.8em;

/// Headings: h4
@h4__font-size:				1.0714285714285714em;
@h4__max-800W__font-size:	1em;
@h4__max-700W__font-size:	0.8571428571428571em;
@h4__max-480W__font-size:	0.7142857142857142em;

@h4__line-height:			1.2;
@h4__font-weight:			700;
@h4__margin-top:			0.6666666666666666em;
@h4__margin-bottom:			0.6666666666666666em;


// Paragraph
@p__margin-top:				0.7142857142857142em;
@p__margin-bottom:			0.7142857142857142em;

// Link
@a__color:					inherit;
@a__hover__color:			#000;

// List
@ul-ol__font-size:			1.2857142857142856em;
@ul-ol__max-480W__font-size:0.9285714285714285em;

@ul-ol__line-height:		1.222222222222222;
@ul-ol__font-weight:		700;
@ul-ol__padding-left:		2.6666666666666665em;
@ul-ol__padding-left:		2.6666666666666665em;
@ul-ol__margin-top:			1em;
@ul-ol__margin-bottom:		1em;
@ul-ol__li__margin-top:		2em;
@ul__li__simbol__color:		#9d743f;

// Btn
@btn__font-size:			0.9285714285714285em;
@btn__line-height:			1.2307692307692308;
@btn__font-weight:			700;
@btn__color:				#fff;
@btn__hover__color:			#bb002d;
@btn__text-transform:		uppercase;
@btn__bg-color:				transparent;
@btn__hover__bg-color:		#fff;
@btn__border:				2px solid #fff;
@btn__height:				48px;
@btn__padding-top:			15px;
@btn__padding-bottom:		13px;
@btn__padding-left:			30px;
@btn__padding-right:		30px;

// Components

/// Components: Page nav
@comp__page-nav__link__bg-color: #463e49;
@comp__page-nav__link__active__bg-color: @comp__page-nav__link__border-color;
@comp__page-nav__link__accent__bg-color: #fff;
@comp__page-nav__link__width: 8px;
@comp__page-nav__link__height: @comp__page-nav__link__width;
@comp__page-nav__link__border-width: 2px;
@comp__page-nav__link__border-color: transparent;
@comp__page-nav__link__active__border-color: @comp__page-nav__link__bg-color;
@comp__page-nav__link__accent__border-color: @comp__page-nav__link__accent__bg-color;

/// Components: solution
@comp__solution__ico__padding: 24px;
@comp__solution__ico__color: #b98646;
@comp__solution__ico__border-width: 2px;
@comp__solution__ico__border-color: #d8d8d8;