.btn {
  color: @btn__color;
  background-color: @btn__bg-color;
  border: @btn__border;
  box-sizing: border-box;
  font-family: @base__font-family;
  font-size: @btn__font-size;
  font-weight: @btn__font-weight;
  line-height: @btn__line-height;
  -webkit-appearance:	none;
     -moz-appearance:	none;
          appearance:	none;
  cursor: pointer;
  display: inline-block;
  outline: none;
  position: relative;
  padding-top: @btn__padding-top;
  padding-right: @btn__padding-right;
  padding-bottom: @btn__padding-bottom;
  padding-left: @btn__padding-left;
  height: @btn__height;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  text-transform: @btn__text-transform;
  margin: 0;
  transition: @base__transition-duration @base__transition-timing;
  transition-property: color, background-color;

  &::-moz-focus-inner {
	padding: 0;
	border: 0;
  }
  &__txt {
    display: inline-block;
    vertical-align: baseline;
  }

  &:hover, &:focus {
    color: @btn__hover__color;
    background-color: @btn__hover__bg-color;
  }
  &:active {
    color: darken(@btn__hover__color, 10);
    background-color: darken(@btn__hover__bg-color, 10);
  }
}
.btn--block {
  display: block;

  input&,
  button& {
    width: 100%;
  }
}
