.ico {
  position: relative;
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  vertical-align: baseline;
  fill: currentColor;

  &:after {
  	content: '\a0';
  }

  &__svg {
  	position: absolute;
  	top: 0;
  	left: 0;
  	fill: inherit;
  	display: block;
  	width: 100%;
  	height: 100%;
  	transform: translateZ(0);
  }
  &--s {
	width: 22px;
	height: 22px;
	line-height: 22px;
  }
  &--l {
	width: 122px;
	height: 122px;
	line-height: 122px;
  }
  &[data-ico=logo] {
    width: 128px;
    height: 22px;
    line-height: 22px;

	@media @media__max-480W {
	  width: 98px;
	  height: 18px;
	  line-height: 18px;
	}
  }
}

body > svg {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
}