html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: @page__background-color;
  min-width: @page__min-width;
}

.page {
  &-main {
    height: 100%;

    .scroll-nav__section {
      height: 100%;
      display: table;
      width: 100%;
      table-layout: fixed;
      position: relative;
    }

  }

  &-section {
    height: 100%;
    display: table;
    width: 100%;
    table-layout: fixed;
    position: relative;

    &__inner {
      display: table-cell;
      vertical-align: middle;
      padding-top: 80px;
      padding-bottom: 20px;
    }
    &--last &__inner {
      padding-bottom: 0;
      vertical-align: bottom;
    }
    &--last .fp-tableCell {
      vertical-align: bottom;
    }
  }
}

img {
  height: auto;
  max-width: 100%;
  display: inline-block;
  vertical-align: baseline;
}
.inner-block {
  max-width: @page__max-width - @page__padding-left - @page__padding-right;
  padding-left: @page__padding-left;
  padding-right: @page__padding-right;
  margin-left: auto;
  margin-right: auto;
  .clearfix();

  @media @media__max-480W {
    padding-left: @page__max-480W__padding-left;
    padding-right: @page__max-480W__padding-right;
  }
}


.invert-trigger {
  position: absolute;
  width: 0;
  height: 100%;
  top: -30%;
  left: 0;
}