body {
  font-family: @base__font-family;
  font-size: @base__font-size;
  line-height: @base__line-height;
  cursor: @base__cursor;
  color: @base__color;
  text-size-adjust: none;
}

h1, .h1 {
  font-family: @second__font-family;
  font-weight: @h1__font-weight;
  font-size: @h1__font-size;
  line-height: @h1__line-height;
  margin-top: @h1__margin-top;
  margin-bottom: @h1__margin-bottom;

  @media @media__max-900W {
    font-size: @h1__max-900W__font-size;
  }

  @media @media__max-700W {
    font-size: @h1__max-700W__font-size;
  }

  @media @media__max-480W {
    font-size:      @h1__max-480W__font-size;
  }
}

h2, .h2 {
  font-family: @second__font-family;
  font-size: @h2__font-size;
  line-height: @h2__line-height;
  font-weight: @h2__font-weight;
  margin-top: @h2__margin-top;
  margin-bottom: @h2__margin-bottom;


  @media @media__max-700W {
    font-size: @h2__max-700W__font-size;
  }
  @media @media__max-600W {
    font-size: 1.7142857142857142em;
  }
  @media @media__max-480W {
    font-size: @h2__max-480W__font-size;
    line-height: @h2__max-480W__line-height;
  }
}

h3, .h3 {
  font-weight:    @h3__font-weight;
  font-size:      @h3__font-size;
  line-height:    @h3__line-height;
  margin-top:     @h3__margin-top;
  margin-bottom:  @h3__margin-bottom;

  @media @media__max-900W {
    font-size: @h3__max-900W__font-size;
  }
  @media @media__max-700W {
    font-size: @h3__max-700W__font-size;
  }
  @media @media__max-480W {
    font-size: @h3__max-480W__font-size;
    line-height: @h3__max-480W__line-height;
  }
}


h4, .h4 {
  font-size: @h4__font-size;
  font-weight: @h4__font-weight;
  line-height: @h4__line-height;
  margin-top: @h4__margin-top;
  margin-bottom: @h4__margin-bottom;

  @media @media__max-800W {
    font-size: @h4__max-800W__font-size;
  }

  @media @media__max-700W {
    font-size: @h4__max-700W__font-size;
  }

  @media @media__max-480W {
    font-size: @h4__max-480W__font-size;
  }
}

p {
  margin-top: @p__margin-top;
  margin-bottom: @p__margin-bottom;
}
ul, ol {
  font-size: @ul-ol__font-size;
  line-height: @ul-ol__line-height;
  font-weight: @ul-ol__font-weight;
  padding-left: @ul-ol__padding-left;
  margin-top: @ul-ol__margin-top;
  margin-bottom: @ul-ol__margin-bottom;

  @media @media__max-480W {
    font-size: @ul-ol__max-480W__font-size;
  }

  li {
    position: relative;
  }

  li + li {
    margin-top: @ul-ol__li__margin-top;
  }
}
ul {
  list-style: none;

  li:before {
    font-size: 1.8888888888888888em;
    line-height: 0.6470588235294118;
    content: "\2012";
    position: absolute;
    left: -1.3529411764705883em;
    color: @ul__li__simbol__color;
    margin-top: -0.14705882352941177em;
  }
}
a {
  text-decoration: underline;
  color: @a__color;
  transition: @base__transition-duration @base__transition-timing;
  transition-property: color;

  &:hover {
    color: @a__hover__color;
  }
}