extends ../layout/index.ignore.pug

block head
    - var title = 'Custom title'

block body
    - var bodyClass = 'BodyClass'
    - var layoutWrap = true
    - var layoutWrapClass = 'testClass'

block content

    include ../components/article.ignore.pug


    +article('Hello world')

    +article('Hello world')
        p This is my
        p Amazing ar ticle