.carousel {
  max-width: 1040px;
  padding-left: 80px;
  padding-right: 80px;
  margin-left: auto;
  margin-right: auto;

  @media @media__max-900W {
	padding-left: 70px;
	padding-right: 70px;
  }
  @media @media__max-480W {
	padding-left: 40px;
	padding-right: 40px;
  }

  &__item {
	padding-left: 20px;
	padding-right: 20px;

	@media @media__max-900W {
	  padding-left: 10px;
	  padding-right: 10px;
	}
	@media @media__max-480W {
	  padding-left: 3px;
	  padding-right: 3px;
	}

	img {
	  display: block;
	}
	.no-js & {
	  display: table-cell;
	}
  }
  .owl-carousel {
	.no-js & {
	  overflow: hidden;
	}
  }
  .no-js &__item {
	display: table-cell;
  }

  .owl-nav {
	color: #959595;
	position: absolute;
	top: 50%;
	height: 0;
	width: 100%;
  }
  .owl-prev,
  .owl-next {
	position: absolute;
	top: -11px;
	transition: @base__transition-duration @base__transition-timing;
	transition-property: color;

	&:hover {
	  color: #000;
	}
	&.disabled {
	  color: #cccccc;
	}
  }
  .owl-prev {
	left: -40px;
  }
  .owl-next {
	right: -40px;
  }
}