.scroll-nav {
  position: fixed;
  top: 50%;
  right: 54px;
  transition: @base__transition-duration @base__transition-timing;
  transition-property: right;
  transform: translateY(-50%);
  z-index: 5;

  @media @media__max-1000W {
	right: 54px/2;
  }
  @media @media__max-480W {
	display: none;
  }

  &__item {
	width: @comp__page-nav__link__width;
	height: @comp__page-nav__link__height;
	display: block;
	border-radius: 50%;
	margin: 13px 0;
	transition: @base__transition-duration @base__transition-timing;
	transition-property: border-color;
	border-width: @comp__page-nav__link__border-width;
	border-style: solid;
  	border-color: @comp__page-nav__link__border-color;
	position: relative;
	color: #fff;


	&.active {
	  border-color: @comp__page-nav__link__active__border-color;
	}
  }
  &--invert &__item {
	border-color: @comp__page-nav__link__border-color;

	&.active {
	  border-color: #fff;
	}
  }
  &__link {
	text-indent: -9999px;
	color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: @comp__page-nav__link__bg-color;
	transition: @base__transition-duration @base__transition-timing;
	transition-property: background-color;

	.active & {
	  background-color: @comp__page-nav__link__active__bg-color;
	}
  }
  &--invert &__link {
	  background-color: #fff;
  }
  &--invert .active &__link {
	background-color: @comp__page-nav__link__active__bg-color;
  }
}