.solution {
  padding-left: 10px;
  padding-right: 10px;

  &__ico {
	display: inline-block;
	vertical-align: top;
	padding: @comp__solution__ico__padding;
	border-width: @comp__solution__ico__border-width;
	border-style: solid;
	border-color: @comp__solution__ico__border-color;
	border-radius: 50%;
	color: @comp__solution__ico__color;
	margin-bottom: 12.105263157894736%;
  }
  &__title {
	text-transform: uppercase;
	min-height: 3.789473684210526em;
  }
  &__subtitle {
	margin-top: 12.368421052631579%;
	margin-bottom: 5.2631578947368425%;
  }
  &__txt {
	margin-top: 5.2631578947368425%;
  }
}