mixin article(title)
    .article
        .article-wrapper
            h1= title
            img(src='dd' alt='')
            if block
                block
            else
                p No content provided
